shamefully-hoist=true
public-hoist-pattern[]=@prisma/*
public-hoist-pattern[]=prisma
public-hoist-pattern[]=@expo/*
public-hoist-pattern[]=expo
public-hoist-pattern[]=client-only
# Allow Prisma generate to run "pnpm add @prisma/client" from root (e.g. when schema path is packages/database/...)
ignore-workspace-root-check=true
